/* #############################AddTask############################## */

.addTask {
    height: calc(100% - 4rem);
    margin: 0 0 2rem 0;
}

.addTaskForm {
    display: flex;
    margin: 0 0 0 4rem;
}

.addTaskLeft {
    border-right: 2px solid #d1d1d1;
    padding: 0 2rem 0 0;
    margin: 0 2rem 0 0;
}

.addTask h2 {
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
    font-weight: lighter;
}

.formCullum {
    width: 26rem;
    margin: 0 0 2rem 0;
}

.descriptionArea {
    width: 25rem;
    height: 10rem;
    resize: none;
    padding: 1rem 0 0 1rem;
    font-size: 1.25rem;
    border: 2px solid #dfdede;
    border-radius: 0.5rem;
    overflow-y: scroll;
}

.descriptionArea:focus-visible {
    /* outline: none; */
    outline-color: #b0adad;
}

.inputField:focus-visible {
    /* outline: none; */
    outline-color: #b0adad;
}


/* DEL Scrollbar */

.descriptionArea {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.descriptionArea::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.inputField {
    width: 26rem;
    height: 3rem;
    padding: 0 0 0 1rem;
    font-size: 1.25rem;
    border: 2px solid #dfdede;
    border-radius: 0.5rem;
}

.formCullum input.inputField {
    width: 25rem;
}


/* disable the calender button */

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    /* display: none; */
    background: url(../assets/img/calender.png);
    background-position: left;
    background-size: 3rem;
    padding-right: 1.5rem;
    /* -webkit-appearance: none; */
}

.addTaskButtonContainer {
    position: absolute;
    bottom: 2rem;
    display: flex;
    right: 6rem;
    /* width: 14rem; */
    justify-content: space-between;
}

.addTaskButtonContainer button {
    margin: 0 0 0 1rem;
}

.urgencyContainer {
    gap: 1rem;
}

.urgencyContainer .whiteButton {
    gap: 0.5rem;
    border: 2px solid #dfdede;
}

.urgencyHigh {
    background: #ff0000;
    color: var(--white);
}

.urgencyMiddle {
    color: var(--white);
    background: #ffce00;
}

.urgencyLow {
    background: lime;
    color: var(--white);
}

.urgencyImg {
    filter: brightness(0) invert(1);
}

.subtask {
    border: 1px solid grey;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 0.5rem 0 0 0;
    position: relative;
}

.subtask img {
    width: 1rem;
    position: absolute;
    right: 1rem;
}

.subtask img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.subtasksContainer {
    height: 18rem;
    overflow-y: scroll;
}

.subtasksContainer::-webkit-scrollbar {
    width: 0 !important/* Damit die scrollbar verschwindet */
}

.subtaskButton {
    position: absolute;
    top: 3.4rem;
    right: 0.5rem;
    width: 1.5rem;
    cursor: pointer;
    filter: invert(0.6);
}

.subtaskButton:hover {
    transform: scale(1.1);
}

.subtasks {
    position: relative;
}

.categorySelect {
    position: relative;
}

.addCategoryButton {
    position: absolute;
    top: 3.3rem;
    right: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    filter: invert(0.6);
}

.addCategoryButton:hover {
    transform: scale(1.1);
}