/* #############################Backlog############################## */

.backlog {
    max-height: calc(100% - 4rem);
    margin: 0 0 2rem 0;
}

.backlog table {
    margin: 0 0.5rem 0 0.5rem;
    border-collapse: collapse;
}

.backlog th {
    min-width: 10rem;
    padding: 0 0.5rem 0.75rem 0.5rem;
    text-align: left;
    color: var(--fontColorBlue);
    position: sticky;
    top: 0;
    background: var(--bgSecondaryLightGrey);
}

.table {
    overflow-y: scroll;
    max-height: 34rem;
}

.backlog tbody td {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.backlog tbody tr {
    background: var(--bgSecondary);
    border-bottom: 0.5rem solid var(--bgSecondaryLightGrey);
    border-radius: 1rem;
}

.backlogFirstTd {
    display: flex;
    align-items: center;
}

.backlogFirstTd .noImg {
    margin: 0 0.5rem 0 0;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
}

.backlogLastTd {
    width: 100%;
}

.backlog tbody tr td img {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    margin: 0 0.5rem 0 0;
}