:root {
    --bgPrimaryBlue: rgb(41, 171, 226);
    --bgSecondaryLightGrey: rgb(246, 247, 248);
    --white: white;
    --fontColorBlue: rgb(35, 38, 176);
    --fontColorGrey: #6B6B6B;
    --leftGrey: rgb(42, 54, 71);
}

* {
    padding: 0;
    margin: 0;
    letter-spacing: 0.1rem;
}

html {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none !important;
}

.collum {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.button {
    color: var(--white);
    background: var(--leftGrey);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    transition: all 125ms ease-in-out;
    cursor: pointer;
    height: 2rem;
    display: flex;
    align-items: center;
}

.button:hover {
    background: var(--bgPrimaryBlue);
}

h1 {
    font-size: 3rem;
    margin: 2rem 0 2rem 4rem;
}


/* #############################Login############################## */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* top: 0; */
    /* right: 0; */
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: rgb(246, 247, 248);
}

.loginContainer {
    width: 30rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 25px -10px #969696;
    text-align: center;
    position: relative;
}

.loginContainer h1 {
    border-bottom: 2px solid var(--bgPrimaryBlue);
    width: 12rem;
    margin: 2rem auto;
    padding: 0 0 1rem 0;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm input {
    margin: 1rem;
    width: 20rem;
}

.loginButtons {
    display: flex;
}

.loginButtons button {
    margin: 1rem 1rem 2rem 1rem;
}

.whiteButton {
    background: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    transition: all 125ms ease-in-out;
    cursor: pointer;
    height: 2rem;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.whiteButton:hover {
    color: var(--fontColorBlue);
    border: 1px solid var(--fontColorBlue);
    box-shadow: 1px 0px 25px -10px #323232;
    scale: 1.01;
}

.joinlogoDark {
    position: absolute;
    top: 3rem;
    left: 4rem;
    width: 7rem;
    border-radius: 0.5rem;
}

.joinlogoDarkAnimation {
    z-index: 2;
    background: rgb(246, 247, 248);
    animation: joinLogoDark 1000ms cubic-bezier(0.6, -0.05, 0.35, 1.29) alternate forwards
}

@keyframes joinLogoDark {
    0% {
        width: 38rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 3rem;
        left: 4rem;
        width: 7rem;
    }
}

.registerNewUser {
    position: absolute;
    top: 3rem;
    right: 4rem;
    display: flex;
    align-items: center;
}

.registerNewUser p {
    margin: 0 1rem 0 0;
}

.arrowBack {
    position: absolute;
    left: 2rem;
    top: 2rem;
    cursor: pointer;
}

.msgBox {
    z-index: 1;
    position: relative;
    top: 15rem;
}

.name {
    background: url("../assets/img/loginName.png") no-repeat right;
    background-size: 20px;
    background-position: 19rem;
}

.mail {
    background: url("../assets/img/loginMail.png") no-repeat right;
    background-size: 20px;
    background-position: 19rem;
}

.pass {
    background: url("../assets/img/loginPass.png") no-repeat right;
    background-size: 20px;
    background-position: 19rem;
}


/* #############################Right############################## */

.right {
    background: var(--bgSecondaryLightGrey);
    width: 80%;
    /* border-radius: 0 1.5rem 1.5rem 0;
    border: 0.25rem solid var(--border);
    border-left: 0; */
    height: 100vh
}

header {
    height: 4rem;
    background: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0rem 0rem 0.5rem lightgrey;
}

header span {
    margin: 0 0 0 4rem;
    display: flex;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 4rem 0 2rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0.01rem;
    min-width: 6.25rem;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    background: var(--leftGrey);
    color: var(--white);
    -webkit-border-radius: 35px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 35px;
    -moz-border-radius-topright: 0;
    border-radius: 35px;
    border-top-right-radius: 0;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-content:first-child {
    display: block;
}

.dropdown-content a:hover {
    transform: scale(1.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .userImgHeader {
    transform: scale(1.1);
}

.userImgHeader {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    object-fit: cover;
    transition: all 125ms ease-in-out;
}

.userImgHeader:hover {
    transform: scale(1.1);
}

.questionMark {
    transition: all 125ms ease-in-out;
    cursor: pointer;
}

.questionMark:hover {
    transform: scale(1.1);
    filter: invert(100%);
}

.imgSelect {
    margin: 1rem;
    padding: 0 0.5rem;
    width: 21rem;
    background: transparent;
    color: grey;
    font-size: 1.25rem;
    border: 2px solid #dfdede;
    border-radius: 0.5rem;
    height: 3rem;
}

.cardBigContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.cardBig {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;
}

.cardBig h3 {
    font-size: 2.5rem;
    text-decoration: underline;
    font-weight: 900;
}

.cardBig span {
    font-size: 2rem;
    padding: 0.5rem 2rem;
}

.cardBig p {
    font-size: 1.5rem;
    color: black !important;
    margin: 1rem 0;
}

.cardBig .boardProfileImg {
    margin: 0 0 0 1rem;
}

.cardBig .card {
    padding: 2rem;
}

.cardBig .trashImg {
    width: 3rem;
    position: absolute;
    right: 3rem;
    bottom: 5.5rem;
}

.editImg {
    position: absolute;
    right: 3rem;
    bottom: 2rem;
    width: 3rem;
    height: 3rem;
}

.cardBig b {
    margin: 0 0.25rem 0 0;
}

.noImg {
    background: var(--bgPrimaryBlue);
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--white);
}

.userImgHeader .noImg:hover {
    font-size: 2.25rem;
    cursor: pointer;
}

.dropdown:hover .noImg {
    font-size: 2.25rem;
}

.cardBig .noImg {
    margin: 0 0 0 1rem;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
}

.cardBig h4 {
    font-size: 1.5rem;
    color: black !important;
    margin: 1rem 0;
    font-weight: 700;
}

.board .noImg {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
}

.contacts {
    height: calc(100vh - 4rem);
    /* position: relative; */
    display: flex;
}

.contactsContainer {
    background: var(--white);
    height: calc(100vh - 4rem);
    width: 25rem;
    overflow-y: scroll;
    box-shadow: inset 0px 0px 0.5rem lightgrey;
}

.contactCard {
    padding: 1rem;
    border-radius: 2rem;
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    align-items: center;
}

.contactCard img {
    width: 3rem;
    height: 3rem;
    margin: 0 1rem 0 0;
}

.contactCard .noImg {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    margin: 0 1rem 0 0;
}

.contactCard p {
    color: var(--bgPrimaryBlue);
}

.contactCard:hover {
    background-color: var(--leftGrey);
    color: var(--white);
}

.addContactButton {
    position: absolute;
    bottom: 2rem;
    right: 6rem;
}

.borderBottom {
    border-bottom: 2px solid var(--bgPrimaryBlue);
}

.addContact {
    width: 90%;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border-radius: 2rem; */
    display: flex;
}

.addContactContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
}

.addContactLeft {
    background: var(--leftGrey);
    padding: 2rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    border-radius: 2rem 0 0 2rem;
    width: 22rem;
}

.addContactLeft img {
    width: 4rem;
    margin: 0 0 1rem 0;
}

.addContactLeft h3 {
    font-size: 3rem;
}

.addContactLeft span {
    font-size: 1.25rem;
    padding: 0 0 0.5rem 0;
}

.addContactRight {
    width: calc(100% - 22rem);
    background: var(--white);
    border-radius: 0 2rem 2rem 0;
    display: flex;
    align-items: center;
}

.addContactRight .boardProfileImg {
    width: 7rem;
    height: 7rem;
}

.addContactRight .noImg {
    width: 7rem;
    height: 7rem;
    margin: 2rem;
}

.addContactRight form {
    margin: 0 0 0 2rem;
    width: 50%;
}

.addContactRight form input {
    margin: 1rem 0 0 0;
    width: 15rem;
}

.addContactRight form button {
    margin: 2rem 1rem 0 0;
}

.contactAlreadyExistsContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 0, 0, 0.538);
    border-radius: 2rem;
    padding: 1rem;
    color: var(--white);
    font-size: 3rem;
    text-align: center;
}

.showContactTop {
    display: flex;
    margin: 3rem 2rem 0 2rem;
}

.showContactTop h3 {
    font-size: 3rem;
    padding: 0 1rem 0 0;
}

.showContactTop span {
    display: flex;
    align-items: center;
    padding: 0 0 0 1rem;
    font-size: 1.5rem;
}

.showContactBottom .noImg {
    width: 7rem;
    height: 7rem;
    font-size: 4rem;
    margin: 0 1rem 0 0;
}

.showContactBottom .trashImg {
    width: 3rem;
    margin: 1rem 0 0 0;
}

.showContactBottom .boardProfileImg {
    width: 7rem;
    height: 7rem;
    font-size: 4rem;
    margin: 0 1rem 0 0;
}

.nameAndImg {
    display: flex;
    align-items: center;
    margin: 4rem 0 0 2rem;
}

.nameAndImg h3 {
    font-size: 3rem;
    font-weight: 400;
}

.contactInfos {
    margin: 2rem 0 0 2rem;
}

.contactInfos h4 {
    margin: 1rem 0 1rem 0;
}

.contactInfo {
    display: flex;
    align-items: center;
    margin: 2rem 0 0 2rem;
}

.contactInfo h4 {
    font-size: 1.25rem;
    margin: 0 1rem 0 0;
}

.contactInfo p {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.contactInfo p:hover {
    transform: scale(1.1);
}

.contactInfo img {
    margin: 0 0.5rem 0 0;
}

.urgencyContainer {
    gap: 1rem;
}

.urgencyContainer .whiteButton {
    gap: 0.5rem;
    border: 2px solid #dfdede;
}

.urgencyHigh {
    background: #ff0000;
    color: var(--white);
}

.urgencyMiddle {
    color: var(--white);
    background: #ffce00;
}

.urgencyLow {
    background: lime;
    color: var(--white);
}

.urgencyImg {
    filter: brightness(0) invert(1);
}

.subtask {
    border: 1px solid grey;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 0.5rem 0 0 0;
    position: relative;
}

.subtask img {
    width: 1rem;
    position: absolute;
    right: 1rem;
}

.subtask img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.subtasksContainer {
    height: 18rem;
    overflow-y: scroll;
}

.subtasksContainer::-webkit-scrollbar {
    width: 0 !important/* Damit die scrollbar verschwindet */
}

.subtaskButton {
    position: absolute;
    top: 3.4rem;
    right: 0.5rem;
    width: 1.5rem;
    cursor: pointer;
    filter: invert(0.6);
}

.subtaskButton:hover {
    transform: scale(1.1);
}

.subtasks {
    position: relative;
}

.mobileShow {
    display: none;
}

.headerImgMobile {
    display: none;
    width: 3rem;
    height: 3.5rem;
    margin: 0 0 0 2rem;
}

.aboutUs {
    height: 85vh;
    overflow-x: scroll;
    margin: 0 0 0 2rem;
}

.aboutUs h1 {
    margin: 2rem 0 2rem 0;
}

.aboutUs::-webkit-scrollbar {
    width: 0 !important/* Damit die scrollbar verschwindet */
}

.categorySelect {
    position: relative;
}

.addCategoryButton {
    position: absolute;
    top: 3.3rem;
    right: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    filter: invert(0.6);
}

.addCategoryButton:hover {
    transform: scale(1.1);
}